<nav id="navbar">
    <ul>
        <div id="logo" ><img src="/static/logoo.png" /><strong>THE GYM</strong></div>
        <li><a href="/">Home</a></li>
        <li><a href="/price&plans">Prices&Plans</a></li>
        <li><a href="/schedule">Schedule</a></li>
        <li><a href="/contact">Contact us</a></li>
    </ul>
</nav>