<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/style.css">

</head>

<body>
    <nav id="navbar">
        <ul>
            <div id="logo" ><img src="/static/logoo.png" /><strong>THE GYM</strong></div>
            <li><a href="/">Home</a></li>
            <li><a href="/">Classes</a></li>
            <li><a href="/">Prices&Plans</a></li>
            <li><a href="/">Schedule</a></li>
            <li><a href="/">Contact us</a></li>
        </ul>
    </nav>
    <section id="introSection">
        <div id="sp">
           <strong> IT'S ALL ABOUT WHAT YOU CAN ACHIEVE </strong>
        </div>
        <div id="sp2">
            Empower yourself to make the changes you need to make
        </div>
    </section>

    <footer id="footer">
        <div>@2022 The Gym.in All Rights Reserved. | Terms & Conditions | Privacy Policy</div>
    </footer>


</body>

</html>