<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="../static/home.css">
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <section id="introSection">
            <div id="sp">
                <strong> IT'S ALL ABOUT WHAT YOU CAN ACHIEVE </strong>
            </div>
            <div id="sp2">
                Empower yourself to make the changes you need to make
            </div>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>


</body>

</html>