<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="../static/prices.css">
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header> 

    <main>
        <div class="container">
            <h1>PRICES & PLANS</h1>
        </div>

        <div class="items">
            <div class="basic">
                <h1>BASIC &emsp; &emsp; &emsp;  30$</h1>
                <div class="include">
                    <p>INCLUDED:</p>
                    <ul class="l">
                        <li>
                            2x group workouts of your choice
                        </li>
                        <li>
                            Unlimited gym access
                        </li>
                        <li>
                            Personal workout
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="basic1">
                <h1>UNLIMITED &emsp; &emsp; &emsp;  50$</h1>
                <div class="include">
                    <p>INCLUDED:</p>
                    <ul class="l">
                        <li>
                            Unlimited group workouts of your choice
                        </li>
                        <li>
                            Unlimited gym access
                        </li>
                        <li>
                            3x personal workouts
                        </li>
                        <li>
                            Personal nutrition plan
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>